###################################
# ROS2
###################################
build/
install/
log/

###################################
# Python
###################################
__pycache__/
*.pyc
*.pyo
*.pyd

###################################
# Virtual environments
###################################
venv/
.env/

###################################
# PyTorch / ML
###################################
*.pth
*.pt
*.onnx
runs/
checkpoints/
tensorboard/

###################################
# VSCode / IDE
###################################
.vscode/
.idea/

###################################
# OS
###################################
.DS_Store
Thumbs.db
